<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-flex xs12 sm9>
        <v-card class="elevation-12">
          <v-toolbar dark color="primary">
            <v-toolbar-title>Добавить новую монету</v-toolbar-title>
          </v-toolbar>
          <v-card-text>
            <v-layout row>
              <v-flex xs12>
                <v-form ref="form" v-model="valid" validation>
                  <v-layout row justify-space-between>
                    <v-flex xs12 sm3>
                      <v-autocomplete
                        :items="nominalItems" v-model="nominal"
                        prepend-icon="attach_money" no-data-text="Нет совпадений"
                        label="Номинал" :loading="localLoading" browser-autocomplete="off"
                        :rules="[v => !!v || 'Укажите номинал монеты']"
                      ></v-autocomplete>
                      <v-text-field prepend-icon="event" :loading="localLoading" autocomplete="off"
                                    name="year" label="Год выпуска" type="text"
                                    v-model="year" required
                                    :rules="[v => !!v || 'Укажите год выпуска']">
                      </v-text-field>
                      <v-text-field prepend-icon="language"
                                    :loading="localLoading" autocomplete="off"
                                    name="country" label="Страна" type="text"
                                    v-model="country" required
                                    :rules="[v => !!v || 'Укажите страну']">
                      </v-text-field>
                    </v-flex>
                    <v-flex xs12 sm3>
                      <v-text-field prepend-icon="not_interested" :loading="localLoading" autocomplete="off"
                                    name="diameter" label="Диаметр (мм)" type="text"
                                    v-model="diameter" required
                                    :rules="[v => !!v || 'Укажите диаметр монеты']">
                      </v-text-field>
                      <v-text-field prepend-icon="remove" :loading="localLoading" autocomplete="off"
                                    name="thickness" label="Толщина (мм)" type="text"
                                    v-model="thickness" required
                                    :rules="[v => !!v || 'Укажите толщину монеты']">
                      </v-text-field>
                      <v-autocomplete
                        :items="mintItems" v-model="mint"
                        prepend-icon="account_balance" no-data-text="Нет совпадений"
                        label="Монетный двор" :loading="localLoading" browser-autocomplete="off"
                        :rules="[v => !!v || 'Укажите монетный двор']"
                      >
                      </v-autocomplete>
                    </v-flex>
                    <v-flex xs12 sm4>
                      <v-text-field prepend-icon="info_outline"
                                    :loading="localLoading" autocomplete="off"
                                    name="weight" label="Масса (г)" type="text"
                                    v-model="weight" required
                                    :rules="[v => !!v || 'Укажите вес монеты']">
                      </v-text-field>
                      <v-text-field prepend-icon="check_circle_outline"
                                    :loading="localLoading" autocomplete="off"
                                    name="actualWeight" label="Фактическая масса (г)" type="text"
                                    v-model="actualWeight" required
                                    :rules="[v => !!v || 'Укажите фактический вес монеты']">
                      </v-text-field>
                      <v-autocomplete
                        :items="metalItems" v-model="metal"
                        prepend-icon="gavel" no-data-text="Нет совпадений"
                        label="Металл / Сплав" :loading="localLoading" browser-autocomplete="off"
                      >
                      </v-autocomplete>
                    </v-flex>
                  </v-layout>
                  <v-divider></v-divider>
                  <v-layout>
                    <v-flex xs12 sm7>
                      <v-autocomplete
                        :items="albumItems" v-model="album"
                        prepend-icon="book" no-data-text="Нет совпадений"
                        label="Альбом" :loading="localLoading" browser-autocomplete="off"
                        :rules="[v => !!v || 'Укажите альбом']"
                      ></v-autocomplete>
                    </v-flex>
                    <v-spacer></v-spacer>
                    <v-flex xs12 sm4>
                      <v-autocomplete
                        :items="qualityItems" v-model="quality"
                        prepend-icon="book" no-data-text="Нет совпадений"
                        label="Состояние монеты" :loading="localLoading" browser-autocomplete="off"
                        :rules="[v => !!v || 'Укажите состояние монеты']"
                      ></v-autocomplete>
                    </v-flex>
                  </v-layout>
                  <v-layout>
                    <v-flex xs12>
                      <v-textarea prepend-icon="subtitles" :loading="localLoading" autocomplete="off"
                                  name="description" label="Описание" type="text" rows="2"
                                  v-model="description">
                      </v-textarea>
                    </v-flex>
                  </v-layout>
                </v-form>
              </v-flex>
            </v-layout>
            <v-divider></v-divider>
            <v-layout mt-2 row>
              <v-flex xs12 sm4>
                <div class="subheading mb-2 text-xs-center">Аверс</div>
                <picture-input
                  ref="pictureInputObverse"
                  width="200" height="200"
                  margin="16" radius="5"
                  accept="image/*" size="1" :zIndex="0"
                  button-class="btn btn__upload"
                  :alertOnError="false"
                  :custom-strings="{
                  upload: '<h1>Отпустите!</h1>',
                  drag: 'Перенесите фото, либо нажмите на эту область',
                  change: 'Выбрать другое',
                  fileSize: 'Размер файла превышает лимит',
                  fileType: 'Данный тип файла не поддерживается'
                }"
                  @change="onChangePictureInputObverse"
                  @error="onErrorPictureInputObserve">
                </picture-input>
                <div class="error--text py-3 caption text-xs-center"
                     v-if="errorImageInputObserve">{{errorImageInputObserve}}
                </div>
              </v-flex>
              <v-flex xs12 sm4>
                <div class="subheading mb-2 text-xs-center">Реверс</div>
                <picture-input
                  ref="pictureInputReverse"
                  width="200" height="200"
                  margin="16" radius="5"
                  accept="image/*" size="1" :zIndex="0"
                  button-class="btn btn__upload"
                  :alertOnError="false"
                  :custom-strings="{
                  upload: '<h1>Отпустите!</h1>',
                  drag: 'Перенесите фото, либо нажмите на эту область',
                  change: 'Выбрать другое',
                  fileSize: 'Размер файла превышает лимит',
                  fileType: 'Данный тип файла не поддерживается'
                }"
                  @change="onChangePictureInputReverse"
                  @error="onErrorPictureInputReverse">
                </picture-input>
                <div class="error--text py-3 caption text-xs-center"
                     v-if="errorImageInputReverse">{{errorImageInputReverse}}
                </div>
              </v-flex>
              <v-flex xs12 sm4>
                <div class="subheading mb-2 text-xs-center">Гурт</div>
                <picture-input
                  ref="pictureInputHerd"
                  width="200" height="200"
                  margin="16" radius="5"
                  accept="image/*" size="1" :zIndex="0"
                  button-class="btn btn__upload"
                  :alertOnError="false"
                  :custom-strings="{
                  upload: '<h1>Отпустите!</h1>',
                  drag: 'Перенесите фото, либо нажмите на эту область',
                  change: 'Выбрать другое',
                  fileSize: 'Размер файла превышает лимит',
                  fileType: 'Данный тип файла не поддерживается'
                }"
                  @change="onChangePictureInputHerd"
                  @error="onErrorPictureInputHerd">
                </picture-input>
                <div class="error--text py-3 caption text-xs-center"
                     v-if="errorImageInputHerd">{{errorImageInputHerd}}
                </div>
              </v-flex>
            </v-layout>

          </v-card-text>
          <v-card-actions>
            <v-btn color="primary" @click="onSubmit" block
                   :disabled="!imageObverse || !imageReverse || !imageHerd|| !valid"
                   :loading="localLoading">
              Создать
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import PictureInput from 'vue-picture-input'

export default {
  data () {
    return {
      valid: false,
      nominalItems: [{text: '0.5 копейки', value: 0.005}, {text: '1 копейка', value: 0.01}, {
        text: '2 копейки',
        value: 0.02
      }, {text: '3 копейки', value: 0.03}, {text: '1 рубль', value: 1}, {text: '2 рубля', value: 2}, {
        text: '3 рубля',
        value: 3
      }, {text: '5 рублей', value: 5}, {text: '10 рублей', value: 10}],
      nominal: '',
      year: null,
      country: '',
      diameter: null,
      thickness: null,
      mintItems: ['М', 'СПБ', {text: 'Отсутствует', value: ''}],
      mint: '',
      weight: null,
      actualWeight: null,
      metalItems: [{text: 'Не известно', value: null}, 'Алюминиевая бронза', 'Алюминий'],
      metal: '',
      album: '',
      qualityItems: [{text: 'MS: Превосходное', value: 'MS'}, {
        text: 'AU: Почти превосходное',
        value: 'AU'
      }, {text: 'XF: Отличное', value: 'XF'}, {text: 'VF: Очень хорошее', value: 'VF'}, {
        text: 'F: Хорошее',
        value: 'F'
      }, {text: 'VG: Удовлетворительное', value: 'VG'}, {text: 'G: Слабое', value: 'G'}],
      quality: '',
      description: '',
      imageObverse: null,
      imageReverse: null,
      imageHerd: null,
      errorImageInputObserve: '',
      errorImageInputReverse: '',
      errorImageInputHerd: ''
    }
  },
  components: {
    PictureInput
  },
  computed: {
    loading () {
      return this.$store.getters.loading
    },
    localLoading () {
      return this.$store.getters.localLoading
    },
    albumItems () {
      const albums = this.$store.getters.getAlbums
      let albumTitleAndId = []
      albums.map(album => albumTitleAndId.push({text: album.title, value: album.id}))
      return albumTitleAndId
    }
  },
  methods: {
    onSubmit () {
      if (this.$refs.form.validate() && this.imageObverse && this.imageReverse && this.imageHerd) {
        const coin = {
          nominal: this.nominal,
          year: this.year,
          country: this.country,
          diameter: this.diameter,
          thickness: this.thickness,
          mint: this.mint,
          weight: this.weight,
          actualWeight: this.actualWeight,
          metal: this.metal,
          album: this.album,
          quality: this.quality,
          description: this.description,
          imageObverse: this.imageObverse,
          imageReverse: this.imageReverse,
          imageHerd: this.imageHerd
        }
        this.$store.dispatch('addCoin', coin)
          .then(() => this.$router.push('/coins'))
          .catch(error => console.log('addCoin error', error))
      }
    },
    onChangePictureInputObverse () {
      if (this.$refs.pictureInputObverse.image) {
        this.errorImageInputObserve = ''
        this.imageObverse = this.$refs.pictureInputObverse.file
      } else {
        this.$store.dispatch('clearError')
        this.$store.dispatch('setError', 'FileReader API not supported')
      }
    },
    onChangePictureInputReverse () {
      if (this.$refs.pictureInputReverse.image) {
        this.errorImageInputReverse = ''
        this.imageReverse = this.$refs.pictureInputReverse.file
      } else {
        this.$store.dispatch('clearError')
        this.$store.dispatch('setError', 'FileReader API not supported')
      }
    },
    onChangePictureInputHerd () {
      if (this.$refs.pictureInputHerd.image) {
        this.errorImageInputHerd = ''
        this.imageHerd = this.$refs.pictureInputHerd.file
      } else {
        this.$store.dispatch('clearError')
        this.$store.dispatch('setError', 'FileReader API not supported')
      }
    },
    onErrorPictureInputObserve (error) {
      if (this.imageHerd) {
        setTimeout(() => {
          this.errorImageInputObserve = ''
        }, 4000)
      }
      this.errorImageInputObserve = error.message
    },
    onErrorPictureInputReverse (error) {
      if (this.imageHerd) {
        setTimeout(() => {
          this.errorImageInputReverse = ''
        }, 4000)
      }
      this.errorImageInputReverse = error.message
    },
    onErrorPictureInputHerd (error) {
      if (this.imageHerd) {
        setTimeout(() => {
          this.errorImageInputHerd = ''
        }, 4000)
      }
      this.errorImageInputHerd = error.message
    }
  }
}
</script>

<style scoped>
div.picture-input >>> .btn__upload {
  padding-left: 16px;
  padding-right: 16px;
  color: #2196f3;
}

div.picture-input >>> .picture-inner {
  font-size: 7px !important;
  margin: 3px auto auto;
}

.v-list__tile__title.add-item {
  height: 44px;
}

.v-divider {
  margin: 15px 0;
}
</style>
