<template>
  <v-container>
    <v-layout row>
      <template v-if="localLoading">
        <div class="loading-spinner">
          <v-progress-circular :size="70" :width="7" indeterminate color="purple"></v-progress-circular>
        </div>
      </template>
      <v-flex xs12 md6 pa-2 v-for="coin in coins" :key="coin.id" v-if="!localLoading && coins.length !== 0">
        <v-card>
          <v-container fluid grid-list-lg>
            <v-layout row>
              <v-flex xs7>
                <div>
                  <div class="headline">{{ coin.nominal | nominal }} {{ coin.year }}г. {{ coin.mint }}</div>
                  <div>{{ coin.description }}</div>
                </div>
                <v-card-actions class="mt-3">
                  <v-btn color="info" :to="`coin/${coin.id}`">Посмотреть</v-btn>
                </v-card-actions>
              </v-flex>
              <v-flex xs5>
                <v-card-media
                  :src="coin.imageObverseSrc"
                  height="200px"
                  contain
                ></v-card-media>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card>
      </v-flex>
      <v-flex xs12 v-else>Нет монет</v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data () {
    return {}
  },
  computed: {
    coins () {
      return this.$store.getters.getCoins
    },
    localLoading () {
      return this.$store.getters.setLocalLoading
    }
  },
  created () {
    this.$store.dispatch('fetchCoins').finally()
  }
}
</script>

<style scoped>

</style>
