<template>
  <v-container>
    <v-layout row>
      <v-flex xs-12>
        <h1>Dashboard</h1>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
    }
  }
}
</script>

<style scoped>

</style>
