<template>
  <v-app>
    <div>
      <v-navigation-drawer app temporary v-model="drawer">
        <v-card>
          <v-toolbar color="primary" dark>
            <v-toolbar-side-icon></v-toolbar-side-icon>
            <v-toolbar-title>Меню</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn icon>
              <v-icon>more_vert</v-icon>
            </v-btn>
          </v-toolbar>
          <v-list>
            <v-list-tile v-for="link in links" :key="link.title" :to="link.url">
              <v-list-tile-action>
                <v-icon v-if="link.icon">{{ link.icon }}</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title v-text="link.title"></v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile v-if="isUserLoggedIn" @click="logoutUser">
              <v-list-tile-action>
                <v-icon>exit_to_app</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                  Выйти
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
        </v-card>
      </v-navigation-drawer>

      <v-toolbar app dark color="primary">
        <v-toolbar-side-icon @click="drawer = !drawer"
                             class="hidden-md-and-up"></v-toolbar-side-icon>
        <v-toolbar-title>
          <router-link to="/" class="white" v-if="isUserLoggedIn">MyCoin$</router-link>
          <router-link to="/login" class="white" v-if="!isUserLoggedIn">MyCoin$</router-link>
        </v-toolbar-title>
        <v-spacer></v-spacer>

        <v-toolbar-items class="hidden-sm-and-down"
                         v-for="link of links" :key="link.title">
          <v-btn flat :to="link.url">
            <v-icon left>{{ link.icon }}</v-icon>
            {{ link.title }}
          </v-btn>
        </v-toolbar-items>

        <v-toolbar-items class="hidden-sm-and-down">
          <v-btn flat v-if="isUserLoggedIn" @click="logoutUser">
            <v-icon left>exit_to_app</v-icon>
            Выйти
          </v-btn>
        </v-toolbar-items>

      </v-toolbar>

      <v-content v-if="!loading">
        <router-view></router-view>
      </v-content>

      <template v-if="error">
        <v-snackbar
            :timeout="5000"
            :multi-line="true"
            :color="'error'"
            :value="true"
        >
          {{ error }}
          <v-btn flat dark @click="closeError">Закрыть</v-btn>
        </v-snackbar>
      </template>

      <v-footer app></v-footer>


    </div>
    <template v-if="loading">
      <div class="loading-spinner">
        <v-progress-circular :size="70" :width="7" indeterminate color="purple"></v-progress-circular>
      </div>
    </template>
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      drawer: false
    }
  },
  computed: {
    loading () {
      return this.$store.getters.loading
    },
    error () {
      return this.$store.getters.error
    },
    isUserLoggedIn () {
      return this.$store.getters.isUserLoggedIn
    },
    links () {
      if (this.isUserLoggedIn) {
        return [
          {icon: 'library_books', title: 'Альбомы', url: '/albums'},
          {icon: 'monetization_on', title: 'Монеты', url: '/coins'},
          {icon: 'add_box', title: 'Добавить альбом', url: '/add-album'},
          {icon: 'add_circle', title: 'Добавить монету', url: '/add-coin'}
        ]
      } else {
        return [
          {icon: 'lock_open', title: 'Войти', url: '/login'},
          {icon: 'assignment_ind', title: 'Регистрация', url: '/registration'}
        ]
      }
    }
  },
  methods: {
    closeError () {
      this.$store.dispatch('clearError')
    },
    logoutUser () {
      this.$store.dispatch('logoutUser')
        .then(() => this.$router.push('/login'))
        .catch(error => console.log('logoutUser error', error))
    }
  }
}
</script>

<style>
.loading-spinner {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
</style>
