<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-flex xs12 sm8>
        <v-card class="elevation-12">
          <v-toolbar dark color="primary">
            <v-toolbar-title>Добавить новый альбом</v-toolbar-title>
          </v-toolbar>
          <v-card-text>
            <v-layout row>
              <v-flex xs8>
                <v-form ref="form" v-model="valid" validation>
                  <v-text-field prepend-icon="title" :loading="localLoading" autocomplete="off"
                                name="title" label="Название" type="text"
                                v-model="title" required
                                :rules="[v => !!v || 'Название не должно быть пустым']">
                  </v-text-field>
                  <v-textarea prepend-icon="subtitles" :loading="localLoading" autocomplete="off"
                              name="description" label="Описание" type="text" rows="5"
                              v-model="description" required
                              :rules="[v => !!v || 'Описание не должно быть пустым']">
                  </v-textarea>
                </v-form>
              </v-flex>
              <v-flex xs4>
                <picture-input
                  ref="pictureInput"
                  width="200" height="200"
                  margin="16" radius="5"
                  accept="image/*" size="1" :zIndex="0"
                  button-class="btn btn__upload"
                  :alertOnError="false"
                  :custom-strings="{
                  upload: '<h1>Отпустите!</h1>',
                  drag: 'Перенесите фото, либо нажмите на эту область',
                  change: 'Выбрать другое',
                  fileSize: 'Размер файла превышает лимит',
                  fileType: 'Данный тип файла не поддерживается'
                }"
                  @change="onChangePictureInput"
                  @error="onErrorPictureInput">
                </picture-input>
                <div class="error--text pa-3 caption" v-if="errorImageInput">{{errorImageInput}}</div>
              </v-flex>
            </v-layout>

          </v-card-text>
          <v-card-actions>
            <v-btn color="primary" @click="onSubmit" block
                   :disabled="!image || !valid" :loading="localLoading">Создать
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import PictureInput from 'vue-picture-input'

export default {
  data () {
    return {
      valid: false,
      title: '',
      description: '',
      previewUploadImg: '',
      image: null,
      errorImageInput: ''
    }
  },
  components: {
    PictureInput
  },
  computed: {
    loading () {
      return this.$store.getters.loading
    },
    localLoading () {
      return this.$store.getters.localLoading
    }
  },
  methods: {
    onSubmit () {
      if (this.$refs.form.validate() && this.image) {
        const album = {
          title: this.title,
          description: this.description,
          imageSrc: '',
          image: this.image,
          userId: this.$store.getters.getUser.id
        }
        this.$store.dispatch('addAlbum', album)
          .then(() => this.$router.push('/albums'))
          .catch(error => console.log('addAlbums error', error))
      }
    },
    onChangePictureInput () {
      if (this.$refs.pictureInput.image) {
        this.errorImageInput = ''
        this.image = this.$refs.pictureInput.file
      } else {
        this.$store.dispatch('clearError')
        this.$store.dispatch('setError', 'FileReader API not supported')
      }
    },
    onErrorPictureInput (error) {
      this.errorImageInput = error.message
    }
  }
}
</script>

<style scoped>
div.picture-input >>> .btn__upload {
  padding-left: 16px;
  padding-right: 16px;
  color: #2196f3;
}
div.picture-input >>> .picture-inner {
  font-size: 7px !important;
  margin: 3px auto auto;
}
</style>

