<template>
  <v-container grid-list-xl>
    <v-layout row wrap>
      <v-flex xs12 md6 v-for="album in albums" :key="album.id">
        <v-card>
          <v-container fluid grid-list-lg>
            <v-layout row>
              <v-flex xs7>
                <div>
                  <div class="headline">{{ album.title }}</div>
                  <div>{{ album.description }}</div>
                </div>
                <v-card-actions class="mt-3">
                  <UpdateAlbum :album="album"></UpdateAlbum>
                  <v-btn color="info" :to="`album/${album.id}`">Посмотреть</v-btn>
                </v-card-actions>
              </v-flex>
              <v-flex xs5>
                <v-card-media
                  :src="album.imageSrc"
                  height="160px"
                  contain
                ></v-card-media>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import UpdateAlbum from './UpdateAlbum'

export default {
  data () {
    return {
    }
  },
  computed: {
    albums () {
      return this.$store.getters.getAlbums
    }
  },
  components: {
    UpdateAlbum
  }
}
</script>

<style scoped>
.headline {
  line-height: 28px!important;
  margin-bottom: 10px;
}
</style>
