<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-flex xs12>
        <h2>{{ album.title }}</h2>
        <h3>id {{ album.id }}</h3>
        <img :src="album.imageSrc">
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  props: ['id'],
  computed: {
    album () {
      const id = this.id
      return this.$store.getters.getAlbumById(id)
    }
  }
}
</script>

<style scoped>

</style>
