<template>
  <div>
    <v-btn block color="info" flat @click.stop="modalEditAlbum = true">Изменить</v-btn>

    <v-dialog
      v-model="modalEditAlbum"
      max-width="750px"
    >
      <v-card class="elevation-12">
        <v-toolbar dark color="primary">
          <v-toolbar-title>Редактировать альбом</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <v-form ref="form" v-model="valid" validation>
            <v-text-field prepend-icon="title" :loading="localLoading" autocomplete="off"
                          name="title" label="Название" type="text"
                          v-model="editedTitle" required
                          :rules="[v => !!v || 'Название не должно быть пустым']">
            </v-text-field>
            <v-textarea prepend-icon="subtitles" :loading="localLoading" autocomplete="off"
                          name="description" label="Описание" type="text"
                          v-model="editedDescription" required
                          :rules="[v => !!v || 'Описание не должно быть пустым']">
            </v-textarea>
          </v-form>
        </v-card-text>
        <v-card-actions class="pb-3">
          <v-btn flat color="error" :disabled="localLoading" @click="onDelete">Удалить альбом</v-btn>
          <v-spacer></v-spacer>
          <v-btn flat color="primary" @click="onCancel" :disabled="localLoading">Отмена</v-btn>
          <v-btn color="primary" @click="onSave"
                 :disabled="!valid" :loading="localLoading">Сохранить
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  props: ['album'],
  data () {
    return {
      modalEditAlbum: false,
      valid: false,
      editedTitle: this.album.title,
      editedDescription: this.album.description
    }
  },
  computed: {
    localLoading () {
      return this.$store.getters.localLoading
    }
  },
  methods: {
    onCancel () {
      this.modalEditAlbum = false
      this.editedTitle = this.album.title
      this.editedDescription = this.album.description
    },
    onDelete () {
      this.$store.dispatch('deleteAlbum', this.album)
        .finally(() => {
          this.modalEditAlbum = false
        })
    },
    onSave () {
      if (this.$refs.form.validate() &&
        (this.editedTitle !== this.album.title || this.editedDescription !== this.album.description)) {
        const editedAlbum = {
          title: this.editedTitle,
          description: this.editedDescription,
          id: this.album.id
        }
        this.$store.dispatch('updateAlbum', editedAlbum)
          .finally(() => {
            this.modalEditAlbum = false
          })
      }
    }
  }
}
</script>

<style scoped>

</style>
