<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-flex xs12 sm8 md4>
        <v-card class="elevation-12">
          <v-toolbar dark color="primary">
            <v-toolbar-title>Регистрация</v-toolbar-title>
          </v-toolbar>
          <v-card-text>
            <v-form ref="form" v-model="valid" validation>
              <v-text-field prepend-icon="person" :loading="loading"
                            name="email" label="Email" type="email"
                            v-model="email" required :rules="emailRules">
              </v-text-field>
              <v-text-field prepend-icon="lock" :loading="loading"
                            name="password" label="Пароль" type="password"
                            v-model="password" required :rules="passwordRules" :counter="6">

              </v-text-field>
              <v-text-field prepend-icon="lock" :loading="loading"
                            name="confirmPassword" label="Повторите пароль" type="password"
                            required :rules="confirmPasswordRules">

              </v-text-field>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary"
                   @click="onSubmit"
                   :loading="loading"
                   :disabled="!valid || loading">
              Создать
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      valid: false,
      email: '',
      emailRules: [
        v => !!v || 'E-mail не должен быть пустым',
        v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || ' Некорректный E-mail'
      ],
      password: '',
      passwordRules: [
        v => !!v || 'Пароль не должен быть пустым',
        v => v.length >= 6 || 'Пароль не должен быть меньше 6 символов'
      ],
      confirmPasswordRules: [
        v => !!v || 'Поле не должно быть пустым',
        v => v === this.password || 'Пароли должны совпадать'
      ]
    }
  },
  methods: {
    onSubmit () {
      if (this.$refs.form.validate()) {
        const user = {
          email: this.email,
          password: this.password
        }
        this.$store.dispatch('registerUser', user)
          .then(() => this.$router.push('/'))
          .catch(error => console.log('registerUser error', error))
      }
    }
  },
  computed: {
    loading () {
      return this.$store.getters.loading
    }
  }
}
</script>

<style scoped>

</style>
